[Unit]
Description=mlx_ipmid

[Service]
Restart=always
OOMScoreAdjust=-1000

ExecStartPre=/usr/sbin/obmc-mellanox-ipmb-dev-int.sh
ExecStart=/usr/bin/mlx_ipmid -n
TimeoutSec=120

[Install]
WantedBy=multi-user.target
